.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 10px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}
.footer-addres-icon{
    padding-right: 10px;
}